<h3 style="text-align:center">Welcome , @ViewBag.username</h3>
<br>
<button type="button" class="btn btn-primary btn-lg btn-block" style="color:green"><a asp-action = "Transactions" asp-controller = "Account" style="color:white">Your Rentals</a></button>
<br>
<br>
<button type="button" class="btn btn-primary btn-lg btn-block" style="color:green"><a asp-action = "Create" asp-controller = "Vehicle" style="color:white" >Add Your Vehicle!</a></button>
<br>
<br>
<button type="button" class="btn btn-primary btn-lg btn-block" style="color:green"><a asp-action = "ShowVehicles" asp-controller = "Vehicle" style="color:white" >Choose vehicle for Rent!</a></button>