<h2 style="text-align:center">About VeRent</h2>
<br>
<div class="text-center">
<img src="~/images/MicrosoftTeams-image.jpg" height=200 width=200>
</div>
<br>
<p>VeRent is a vehicle rental management system . This is a web-based application created using HTML,CSS,ASP DOT-NET CORE and SQL server as its database . Here User can register himself/herself and can look through a wide variety of vehicles and choose them as per their choice , convinience and budget. After returing the vehicle , user can share his/her experience of using the vehicle .</p>